<div class="contact-card">
  <span class="github"><a href="https://github.com/bitsapien">github.com/bitsapien</a></span>
  <span class="twitter"><a href="https://twitter.com/bitsapien_log">twitter.com/bitsapien_log</a></span>
  <span class="facebook"><a href="https://facebook.com/bitsapien_log">twitter.com/bitsapien_log</a></span>
  <span class="linkedin"><a href="https://linkedin.com/in/c_space_rahul">linkedin.com/in/c_space_rahul</a></span>
  <span class="mail"><a href="mailto:bitsapien@gmail.com">bitsapien@gmail.com</a></span>
</div>
