<div class="home-card">
  <div class="my-display-picture">
    <img src="images/me-photo.jpeg"/>
  </div>
  <div class="my-name">
    bitsapien
  </div>
  <div class="menu">
    <br/>
    {{yield}}
  </div>
</div>
