<div class="nav-set">
<span id="programmer"><a href="about/programmer">programmer</a></span>
<span id="web-designer"><a href="about/web-designer">web designer</a></span>
<span id="open-source-contributor"><a href="about/open-source-contributor">open source contributor</a></span>
<span id="ideopraxist"><a href="about/ideopraxist">ideopraxist</a></span>
<span id="mooc"><a href="about/mooc">MOOC</a></span>
</div>